{% from "_render_field.html" import render_field %}

{% extends "parent.html" %}

{%block title%}
User login form
{% endblock %}

{%block content %}
<div class="form-login">
    <h1>Login form:</h1>
    <form method="POST" action="{{ url_for('form') }}">
        {{ form.csrf_token }}
        
        <p>
        {{ render_field(form.username) }}
        </p>

        <p>
        {{ render_field(form.password) }}
        </p>

        <br> 
        <input type="submit" value="Submit form!">
    </form>
</div>
{% endblock %}


