{% extends 'parent.html' %}
{% from "_render_field.html" import render_field %}

{%block title%}
Account of {{user.username}}
{% endblock %}

{%block content%}
<div class="content-section">
    <div class="media">
        <img src="{{ image }}" class="rounded-circle account-img" style="width: 150px; height: 150px" />
    </div> 
    <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary"> {{ user.email }} </p>
    </div>
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ render_field(form.email, class='form-control', placeholder='Enter email') }}
            </div>
            <div class="form-group">
                {{ render_field(form.username, class='form-control', placeholder='Enter username') }}
            </div>
            <div class="form-group">
                {{ render_field(form.picture, class='form-control') }}
            </div>
            {{ render_field(form.submit_button, class='btn btn-secondary', value='Update!') }}
        </form>
    </div>
</div>
{% endblock %}
