{% from "_render_field.html" import render_field %}
{% extends 'parent.html' %}

{% block title %}
View view_goods.title goods
{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='goods.css') }}">
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='main.css') }}">
<div class="goods_details details_opened">
    <div class="item_goods item_goods_opened {{ 'enabled' if view_goods.is_available else 'disabled' }}">
        <div class="goods_main">
            <div class="goods_code_name">
                <div class="goods_code">Code: {{view_goods.code}}</div>
                <div class="goods_name">Name: {{view_goods.name}}</div>
            </div>
            <div class="goods_count_price">
                <div class="goods_count">
                    {{view_goods.count}} pieces
                </div>
                <div class="goods_price">
                    {{view_goods.price}}$
                </div>
            </div>
        </div>
        <div class="goods_description">
            {{view_goods.description}}
        </div>
    </div>
    <div class="goods_buttons">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger btn-lg">
                <a href="{{ url_for('goods.delete', id=view_goods.id) }}">Delete</a>
            </button>
            <button type="button" class="btn btn-primary btn-lg">
                <a href="{{ url_for('goods.update', id=view_goods.id) }}"> Edit </a>
            </button>
        </div>
    </div>
</div>

{% endblock %}